extends ../../pug/layouts/main.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/header/header.pug
include ../../blocks/logo/logo.pug
include ../../blocks/button/button.pug
include ../../blocks/input/input.pug
include ../../blocks/contacts/contacts.pug
include ../../blocks/text/text.pug
include ../../blocks/advantage/advantage.pug
include ../../blocks/room/room.pug
include ../../blocks/date-dropdown/date-dropdown.pug
include ../../blocks/review/review.pug
include ../../blocks/like-button/like-button.pug
include ../../blocks/bullet-list/bullet-list.pug

block variables 
    - var titlePage = 'Room details'

block content
    .room-details-page
        +header(false)
        .room-details-page__imgs
            .room-details-page__img1
            .room-details-page__small-imgs
                .room-details-page__img2
                .room-details-page__img3
        main.room-details-page__content
            .room-details-page__row
                .room-details-page__column 
                    .room-details-page__row 
                        .room-details-page__column 
                            +text('Сведения о номере', 'h2', 'text__h2 text_margin-bottom_20px')
                            +advantage('insert_emoticon', 'material-icons__insert-emoticon', 'Комфорт', 'Шумопоглощающие стены', 'advantage__text_width_233px', false)
                            +advantage('location_city', 'material-icons__location-city', 'Удобство', 'Окно в каждой из спален', 'advantage__text_width_222px', false)
                            +advantage('whatshot', 'material-icons__whatshot', 'Уют', 'Номер оснащён камином', 'advantage__text_width_222px', true)
                        .room-details-page__column.room-details-page__column_margin-left_70px 
                            +text('Впечатления от номера', 'h2', 'text__h2 text_margin-bottom_20px')
                    .room-details-page__row.room-details-page__row_margin-top_30px
                        +text('Отзывы посетителей номера', 'h2', 'text__h2 text_margin-bottom_20px')
                        +text('2 отзыва', 'p', 'text__p text_line-height_14px text_margin-left_347px')
                    +review('Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.', 'Мурад Сарафанов', '5 дней назад', 'review__avatar-murad')
                    +review('Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент', 'Патрисия Стёклышкова', 'Неделю назад', 'review__avatar-patricia', 'review_margin-top_22px')
                    .room-details-page__row.room-details-page__row_margin-top_30px
                        .room-details-page__column
                            +text('Правила', 'h2', 'text__h2 text_margin-bottom_20px')
                            +bullet-list('Нельзя с питомцами')
                            +bullet-list('Без вечеринок и мероприятий')
                            +bullet-list('Время прибытия — после 13:00, а выезд до 12:00')
                        .room-details-page__column.room-details-page__column_margin-left_70px
                            +text('Отмена', 'h2', 'text__h2')
                            +text('Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.', 'p', 'text__p text_width_341px')
                .room-details-page__column.room-details-page__column_margin-left_70px
                    +room('date-dropdown-room-details')
        include ../../blocks/footer1/footer1.pug
