extends ../../pug/layouts/main.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/header/header.pug
include ../../blocks/logo/logo.pug
include ../../blocks/button/button.pug
include ../../blocks/input/input.pug
include ../../blocks/contacts/contacts.pug
include ../../blocks/text/text.pug
include ../../blocks/advantage/advantage.pug
include ../../blocks/room/room.pug
include ../../blocks/date-dropdown/date-dropdown.pug
include ../../blocks/review/review.pug
include ../../blocks/like-button/like-button.pug
include ../../blocks/bullet-list/bullet-list.pug
include ../../blocks/circle-diagram/circle-diagram.pug
include ../../blocks/bullet/bullet.pug
include ../../blocks/menu/menu.pug

block variables 
    - var titlePage = 'Room details'

block content
    .room-details-page
        +header(false)
        .room-details-page__imgs
            .room-details-page__img1
            .room-details-page__small-imgs
                .room-details-page__img2
                .room-details-page__img3
        main.room-details-page__content
            .room-details-page__details 
                .room-details-page__row 
                    .room-details-page__advantages
                        +text('Сведения о номере', 'h2', 'text_h2 text_margin-bottom_20px')
                        +advantage({
                            'iconText': 'insert_emoticon',
                            'iconClasses': 'material-icons__insert-emoticon',
                            'title': 'Комфорт',
                            'description': 'Шумопоглощающие стены',
                            'titleClasses': 'advantage__title_width_233px',
                            'isLast': false})
                        +advantage({
                            'iconText': 'location_city',
                            'iconClasses': 'material-icons__location-city',
                            'title': 'Удобство',
                            'description': 'Окно в каждой из спален',
                            'titleClasses': 'advantage__title_width_222px',
                            'isLast': false})
                        +advantage({
                            'iconText': 'whatshot',
                            'iconClasses': 'material-icons__whatshot',
                            'title': 'Уют',
                            'description': 'Номер оснащён камином',
                            'titleClasses': 'advantage__text_width_222px',
                            'isLast': true})
                    .room-details-page__impression 
                        +text('Впечатления от номера', 'h2', 'text_h2 text_margin-bottom_20px')
                        .room-details-page__row
                            +circle-diagram(260)
                            +bullet-list([{
                                'text': 'Великолепно',
                                'textClasses': 'text_p',
                                'bulletClasses': 'bullet__bullet_margin-right_5px bullet__bullet_color_yellow'
                            },
                            {
                                'text': 'Хорошо',
                                'textClasses': 'text_p',
                                'bulletClasses': 'bullet__bullet_margin-right_5px bullet__bullet_color_green'
                            },
                            {
                                'text': 'Удовлитворительно',
                                'textClasses': 'text_p',
                                'bulletClasses': 'bullet__bullet_margin-right_5px bullet__bullet_color_blue'
                            },
                            {
                                'text': 'Разочарован',
                                'textClasses': 'text_p',
                                'bulletClasses': 'bullet__bullet_margin-right_5px bullet__bullet_color_black'
                            }], 'bullet-list_margin-top_29px bullet-list_margin-left_30px')
                .room-details-page__row.room-details-page__row_margin-top_30px.room-details-page__row_margin-bottom_20px
                    +text('Отзывы посетителей номера', 'h2', 'text_h2')
                    +text('2 отзыва', 'p', 'text_p text_line-height_14px text_margin-left_347px text_align-self_center')
                +review({
                    'text': 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
                    'personName': 'Мурад Сарафанов',
                    'personInfo': '5 дней назад',
                    'avatar': 'review__avatar-murad',
                    'textClasses': 'text_p text_margin-left_14px',
                    'likes': 12,
                    'iconState': 'material-icons__favorite',
                    'buttonState': 'like-button__button_active',
                    'numberState': 'like-button__number_active',
                    'favorite': 'favorite'})
                +review({
                    'text': 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент',
                    'personName': 'Патрисия Стёклышкова',
                    'personInfo': 'Неделю назад',
                    'avatar': 'review__avatar-patricia',
                    'classes': 'review_margin-top_22px',
                    'textClasses': 'text_p text_margin-left_14px',
                    'likes': 2,
                    'iconState': 'material-icons__favorite-border',
                    'favorite': 'favorite_border'})
                .room-details-page__row.room-details-page__row_margin-top_30px
                    .room-details-page__column
                        +text('Правила', 'h2', 'text_h2 text_margin-bottom_20px text_margin-left_20px')
                        +bullet-list([{
                            'text': 'Нельзя с питомцами',
                            'textClasses': 'text_p',
                            'bulletClasses': 'bullet__bullet_margin-right_10px',
                            'classes': 'bullet_margin-bottom_10px'
                        },
                        {
                            'text': 'Без вечеринок и мероприятий',
                            'textClasses': 'text_p',
                            'bulletClasses': 'bullet__bullet_margin-right_10px',
                            'classes': 'bullet_margin-bottom_10px'
                        },
                        {
                            'text': 'Время прибытия — после 13:00, а выезд до 12:00',
                            'textClasses': 'text_p text_width_271px',
                            'bulletClasses': 'bullet__bullet_margin-right_10px',
                        }])
                    .room-details-page__column.room-details-page__column_margin-left_70px
                        +text('Отмена', 'h2', 'text_h2 text_margin-bottom_20px')
                        +text('Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.', 'p', 'text_p text_width_341px')
            .room-details-page__room
                +room('date-dropdown-room-details', 'guest-room-details', {'arrival': '23.08.2019'})
        .room-details-page__line
        include ../../blocks/footer1/footer1.pug