mixin sign-in 
    .sign-in
        .sign-in__row.sign-in__row_margin-top_40px
            +text('Войти', 'h1', 'text__h1')
        .sign-in__row.sign-in__row_margin-top_20px 
            +input('email', 'input_width_320px input_height_44px', 'Email')
        .sign-in__row.sign-in__row_margin-top_10px
            +input('password', 'input_width_320px input_height_44px', 'Пароль')
        .sign-in__row.sign-in__row_margin-top_20px 
            +button('войти', 'button_height_44px button_width_320px button_border_none button_background-color_blue', 'button_color_white', '', true)
        .sign-in__row.sign-in__row_margin-top_30px    
            +text('Нет аккаунта на Toxin?', 'p', 'text__p')
            +button('создать', 'button_height_44px button_width_99px button_border_blue button_background-color_white', 'button_color_blue', '')