include ../../blocks/text/text.pug
include ../../blocks/color/color.pug

block variables 
  - var titlePage = "Colors & Type"

block content
  .colors-and-type
    img.colors-and-type__logo(src='assets/img/logo__grey.svg' alt='toxin')
    .colors-and-type__wrapper
      .colors-and-type__colors
        +color('Dark Shade 100%', '#1F2041', 'color__example_background_dark-shade-100')
        +color('Dark Shade 75%', '#1F2041', 'color__example_background_dark-shade-75')
        +color('Dark Shade 50%', '#1F2041', 'color__example_background_dark-shade-50')
        +color('Dark Shade 25%', '#1F2041', 'color__example_background_dark-shade-25')
        +color('Dark Shade 5%', '#1F2041', 'color__example_background_dark-shade-5')
        +color('Purple', '#BC9CFF', 'color__example_background_purple')
        +color('Green', '#6FCF97', 'color__example_background_green')
      .colors-and-type__type
        .colors-and-type__row
          +text('H1', 'h1', 'text_h1 text_color-opacity_25per text_font-weight_normal text_margin-left_8px')
          +text('This one is the sub-section or widget title', 'h1', 'text_h1 text_margin-left_30px')
        .colors-and-type__row
          +text('H2', 'h2', 'text_h2 text_color-opacity_25per text_font-weight_normal text_margin-left_10px')
          +text('Next one is the item title inside widgets', 'h2', 'text_h2 text_margin-left_30px')
        .colors-and-type__row
          +text('H3', 'h3', 'text_h3 text_color-opacity_25per text_font-weight_normal text_margin-left_20px')
          +text('This is a label or CTA text', 'h3', 'text_h3 text_margin-left_30px')
        .colors-and-type__row.colors-and-type__row_width_368px
          +text('body', 'p', 'text_p text_color-opacity_25per')
          +text('This is the body text which is used for most of the design, like paragraphs, lists, etc.', 'p', 'text_p text_margin-left_30px')