include ../../blocks/text/text.pug
include ../../blocks/input/input.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/date-dropdown/date-dropdown.pug
include ../../blocks/filter-date-dropdown/filter-date-dropdown.pug
include ../../blocks/chose-button/chose-button.pug
include ../../blocks/toggle/toggle.pug
include ../../blocks/like-button/like-button.pug
include ../../blocks/rate-button/rate-button.pug
include ../../blocks/range-slider/range-slider.pug
include ../../blocks/button/button.pug
include ../../blocks/pagination/pagination.pug
include ../../blocks/checkbox-list/checkbox-list.pug
include ../../blocks/rich-checkbox-button/rich-checkbox-button.pug
include ../../blocks/bullet-list/bullet-list.pug
include ../../blocks/bullet/bullet.pug
include ../../blocks/advantage/advantage.pug
include ../../blocks/review/review.pug

block variables 
    - var titlePage = "Form Elements"

block content
    .form-elements
        img.form-elements__logo(src='assets/img/logo.svg' alt='toxin')
        .form-elements__wrapper
            .form-elements__block
                .form-elements__column.form-elements_margin-left_130px
                    .form-elements__block.form-elements__block_justify-content_space-between 
                        +text('Text Field', 'h3', 'text_h3')
                        +text('Default', 'h3', 'text_h3 text_color-opacity_25per text_font-weight_normal')
                    +input('text', 'input_width_320px input_height_44px', 'Email')
                    .form-elements__block.form-elements__block_justify-content_space-between 
                        +text('Text Field', 'h3', 'text_h3')
                        +text('Hover / Focus', 'h3', 'text_h3 text_color-opacity_25per text_font-weight_normal')
                    +input('text', 'input_width_320px input_height_44px', 'This is pretty awesome')
                    .form-elements__block.form-elements_margin-top_40px
                        +text('dropdown', 'h3', 'text_h3 text_margin-bottom_5px')
                    +dropdown(true, 'Сколько гостей', [{'id': 'adults', 'name': 'взрослые', 'default': '0'}, {'id': 'kids', 'name': 'дети', 'default': '0'}, {'id': 'babies', 'name': 'младенцы', 'default': '0'}], 'dropdown_width_320px', 'guest1')
                    +text('masked text field', 'h3', 'text_h3 text_margin-bottom_5px')
                    +input('text', 'input_width_320px input_height_44px', 'ДД.ММ.ГГГГ')
                    .form-elements__block.form-elements_margin-top_40px
                        +text('date dropdown', 'h3', 'text_h3 text_margin-bottom_5px text_width_150px')
                        +text('date dropdown', 'h3', 'text_h3 text_margin-bottom_5px text_width_150px text_margin-left_20px')
                    .form-elements__block
                        +date-dropdown('date-dropdown-ui-kit1', 'ДД.ММ.ГГГГ')
                    .form-elements__block.form-elements_margin-top_40px
                        +text('filter date dropdown', 'h3', 'text_h3 text_margin-bottom_5px')
                    +filter-date-dropdown('filter-date-dropdown-ui-kit', '', '', 'date-dropdown__input_height_24px', true)
                    .form-elements__block.form-elements_margin-top_40px
                        +text('subscription text field', 'h3', 'text_h3 text_margin-bottom_5px')
                    +input('email', 'input_width_266px input_height_44px', 'Email', true)
                .form-elements__column.form-elements_margin-left_130px 
                    +text('Checkbox Buttons', 'h3', 'text_h3 text_margin-bottom_16px')
                    +chose-button({
                        'id':'isSmokingAllowed',
                        'text':'Можно курить',
                        'name':'isSmokingAllowed',
                        'fakeClasses':'chose-button__fake-checkbox',
                        }, 'checkbox')
                    +chose-button({
                        'id':'arePetAllowed',
                        'text':'Можно с питомцами',
                        'name':'arePetAllowed',
                        'fakeClasses':'chose-button__fake-checkbox',
                        'buttonClasses': 'chose-button_margin-top_10px',
                        'checked': true
                        }, 'checkbox')   
                    +chose-button({
                        'id':'areGuestsAllowed',
                        'text':'Можно пригласить гостей (до 10 человек)',
                        'name':'areGuestsAllowed',
                        'checked': true,
                        'fakeClasses': 'chose-button__fake-checkbox',
                        'labelClasses': 'chose-button__label_width_192px',
                        'buttonClasses': 'chose-button_margin-top_10px'
                        }, 'checkbox')
                    .form-elements__block.form-elements_margin-top_40px
                        +text('radio buttons', 'h3', 'text_h3 text_margin-bottom_16px')
                    .chose-button__container
                        +chose-button({
                            'id':'men',
                            'text':'Мужчина',
                            'name': 'gender',
                            'value':'man',
                            'checked': true,
                            'fakeClasses': 'chose-button__fake-radio'}, 'radio')
                        +chose-button({
                            'id':'women',
                            'text':'Женщина',
                            'name': 'gender',
                            'value':'woman',
                            'fakeClasses': 'chose-button__fake-radio',
                            'buttonClasses': 'chose-button_margin-left_20px'}, 'radio')
                    .form-elements__block.form-elements_margin-top_40px
                        +text('toggle', 'h3', 'text_h3 text_margin-bottom_16px')
                    +toggle(true, 'Получать спецпредложения')
                    +toggle(false, 'Получать спецпредложения')
                    .form-elements__block.form-elements_margin-top_40px
                        +text('like button', 'h3', 'text_h3 text_margin-bottom_16px')
                    .form-elements__flex
                        +like-button('material-icons__favorite-border', 'like-button__button', 'like-button__number', 2, 'favorite_border')
                        +like-button('material-icons__favorite', 'like-button__button like-button__button_active', 'like-button__number like-button__number_active', 12, 'favorite')
                    .form-elements__block.form-elements_margin-top_40px
                        +text('rate button', 'h3', 'text_h3 text_margin-bottom_16px')
                    .form-elements__flex
                        +rate-button(4)
                        +rate-button(5, 'rate-button_margin-left_20')
                .form-elements__column.form-elements_margin-left_130px 
                    +range-slider('Range Slider')
                    .form-elements__block.form-elements_margin-top_40px
                        +text('buttons', 'h3', 'text_h3 text_margin-bottom_16px')
                    .form-elements__buttons
                        .form-elements__button.form-elements__button_width_99px
                            +button({
                                'text': 'Click me',
                                'buttonClasses': 'button_background-color_blue button_border_none',
                                'textClasses': 'button_color_white',
                                'type': 'button'})
                        .form-elements__button.form-elements__button_width_99px
                            +button({
                                'text': 'Click me',
                                'buttonClasses': 'button_background-color_blue button_border_none button_opacity_50per',
                                'textClasses': 'button_color_white',
                                'type': 'button'})
                    .form-elements__buttons.form-elements__buttons_margin-top_30px
                        .form-elements__button.form-elements__button_width_99px
                            +button({
                                'text': 'click me',
                                'buttonClasses': 'button_background-color_white button_border_blue',
                                'textClasses': 'button_color_blue',
                                'type': 'button'})
                        .form-elements__button.form-elements__button_width_99px
                            +button({
                                'text': 'click me',
                                'buttonClasses': 'button_background-color_white button_border_blue button_border-opacity_50per',
                                'textClasses': 'button_color_blue',
                                'type': 'button'})
                    .form-elements__buttons.form-elements__buttons_margin-top_30px
                        +button({
                            'text': 'click me',
                            'buttonClasses': 'button_border_none button_background-color_white',
                            'textClasses': 'button_color_blue',
                            'type': 'button'})
                        +button({
                            'text': 'click me',
                            'buttonClasses': 'button_border_none button_background-color_white',
                            'textClasses': 'button_color_dark',
                            'type': 'button'})
                    .form-elements_margin-top_30px
                    .form-elements__pay-button
                        +button({
                            'text': 'перейти к оплате',
                            'buttonClasses': 'button_border_none button_background-color_blue',
                            'textClasses': 'button_color_white', 
                            'type': 'button',
                            'hasArrow': true})
                    .form-elements__block.form-elements_margin-top_40px
                        +text('pagination', 'h3', 'text_h3 text_margin-bottom_16px')
                    +pagination(1)
            .form-elements__block.form-elements_margin-top_70px.form-elements_70px
                .form-elements__column.form-elements_margin-left_130px
                    .form-elements__flex
                        +text('dropdown', 'h3', 'text_h3 text_margin-bottom_5px')
                        p.form-elements__title-description default
                    +dropdown(false, '2 спальни, 2 кровати...', [{'name':'спальни', 'id': 'rooms', 'default' : '2'}, {'name':'кровати', 'id': 'bed', 'default' : '2'}, {'name':'ванные комнаты', 'id': 'baths', 'default' : '0'}], 'dropdown_width_266px', 'furniture')
                    .ui-kit_margin-top_40px
                    .form-elements__flex
                        +text('dropdown', 'h3', 'text_h3 text_margin-bottom_5px')
                        p.form-elements__title-description expanded
                    +dropdown(false, '2 спальни, 2 кровати...', [{'name':'спальни', 'id': 'rooms', 'default' : '2'}, {'name':'кровати', 'id': 'bed', 'default' : '2'}, {'name':'ванные комнаты', 'id': 'baths', 'default' : '0'}], 'dropdown_width_266px', 'furniture', 'menu-open')
                .form-elements__column.form-elements_margin-left_130px
                    .form-elements__dropdown
                        +text('dropdown', 'h3', 'text_h3 text_margin-bottom_5px')
                        +dropdown(true, 'Сколько гостей', [{'id': 'adults', 'name': 'взрослые', 'default': '0'}, {'id': 'kids', 'name': 'дети', 'default': '0'}, {'id': 'babies', 'name': 'младенцы', 'default': '0'}], 'dropdown_width_320px', 'guest2', 'menu-open')
                .form-elements__column.form-elements_margin-left_130px
                    .form-elements__dropdown
                        +text('dropdown', 'h3', 'text_h3 text_margin-bottom_5px')
                        +dropdown(true, '3 гостя', [{'id': 'adults', 'name': 'взрослые', 'default': '2'}, {'id': 'kids', 'name': 'дети', 'default': '1'}, {'id': 'babies', 'name': 'младенцы', 'default': '0'}], 'dropdown_width_320px', 'guest3', 'menu-open')
            .form-elements__block.form-elements_margin-top_70px.form-elements_70px 
                .form-elements__column.form-elements_margin-left_130px
                    +checkbox-list(
                        [{'id': 'breakfast', 'text': 'Завтрак', 'name': 'breakfast', 'fakeClasses': 'chose-button__fake-checkbox'},
                        {'id': 'write-table', 'text': 'Письменный стол', 'name': 'write-table', 'fakeClasses': 'chose-button__fake-checkbox', 'checked': true},
                        {'id': 'food-table', 'text': 'Стул для кормления', 'name': 'food-table', 'fakeClasses': 'chose-button__fake-checkbox', 'checked': true},
                        {'id': 'baby-bed', 'text': 'Кроватка', 'name': 'baby-bed', 'fakeClasses': 'chose-button__fake-checkbox', 'checked': true},
                        {'id': 'tv', 'text': 'Телевизор', 'name': 'tv', 'fakeClasses': 'chose-button__fake-checkbox'},
                        {'id': 'shampoo1', 'text': 'Шампунь', 'name': 'shampoo', 'fakeClasses': 'chose-button__fake-checkbox'},
                        {'id': 'tv', 'text': 'Телевизор', 'name': 'tv', 'fakeClasses': 'chose-button__fake-checkbox'},
                        {'id': 'shampoo2', 'text': 'Шампунь', 'name': 'shampoo', 'fakeClasses': 'chose-button__fake-checkbox'}],
                        'expandable checkbox list')
                    +checkbox-list(
                        [{'id': 'breakfastEx', 'text': 'Завтрак', 'name': 'breakfast', 'fakeClasses': 'chose-button__fake-checkbox'},
                        {'id': 'write-tableEx', 'text': 'Письменный стол', 'name': 'write-table', 'fakeClasses': 'chose-button__fake-checkbox', 'checked': true},
                        {'id': 'food-tableEx', 'text': 'Стул для кормления', 'name': 'food-table', 'fakeClasses': 'chose-button__fake-checkbox', 'checked': true},
                        {'id': 'baby-bedEx', 'text': 'Кроватка', 'name': 'baby-bed', 'fakeClasses': 'chose-button__fake-checkbox', 'checked': true},
                        {'id': 'tvEx', 'text': 'Телевизор', 'name': 'tv', 'fakeClasses': 'chose-button__fake-checkbox'},
                        {'id': 'shampoo1Ex', 'text': 'Шампунь', 'name': 'shampoo', 'fakeClasses': 'chose-button__fake-checkbox'},
                        {'id': 'tvEx', 'text': 'Телевизор', 'name': 'tv', 'fakeClasses': 'chose-button__fake-checkbox'},
                        {'id': 'shampoo2Ex', 'text': 'Шампунь', 'name': 'shampoo', 'fakeClasses': 'chose-button__fake-checkbox'}],
                        'expandable checkbox list',
                        'menu-open')
                .form-elements__column.form-elements_margin-left_130px
                    +text('rich checkbox button', 'h3', 'text_h3 text_margin-bottom_16px')
                    +rich-checkbox-button([{
                        'id': 'wide-hall',
                        'text': 'Широкий коридор',
                        'name': 'wide-hall',
                        'description': 'Ширина коридоров в номере не менее 91 см.',
                        'fakeClasses': 'chose-button__fake-checkbox',
                        'labelClasses': 'chose-button__label_bold'},
                        {'id': 'invalid-helper',
                        'text': 'Помощник для инвалидов',
                        'name': 'wide-hall',
                        'description': 'На 1 этаже вас встретит специалист  и проводит до номера.',
                        'fakeClasses': 'chose-button__fake-checkbox',
                        'labelClasses': 'chose-button__label_bold'}])
                .form-elements__column.form-elements_margin-left_130px
                    +text('bullet list', 'h3', 'text_h3 text_margin-bottom_16px')
                    +bullet-list([{
                        'text': 'Нельзя с питомцами',
                        'textClasses': 'text_p',
                        'bulletClasses': 'bullet__bullet_margin-right_10px',
                        'classes': 'bullet_margin-bottom_10px'
                    },
                    {
                        'text': 'Без вечеринок и мероприятий',
                        'textClasses': 'text_p',
                        'bulletClasses': 'bullet__bullet_margin-right_10px',
                        'classes': 'bullet_margin-bottom_10px'
                    },
                    {
                        'text': 'Время прибытия — после 13:00, а выезд до 12:00',
                        'textClasses': 'text_p text_width_271px',
                        'bulletClasses': 'bullet__bullet_margin-right_10px',
                    }])
            .form-elements__block.form-elements_margin-top_70px.form-elements_70px 
                .form-elements__column.form-elements_margin-left_130px
                    +advantage('insert_emoticon', 'material-icons__insert-emoticon', 'Комфорт', 'Шумопоглощающие стены', false)
                    +advantage('location_city', 'material-icons__location-city', 'Удобство', 'Окно в каждой из спален', true)
                .form-elements__column.form-elements_margin-left_130px 
                    +review({
                            'text': 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
                            'personName': 'Мурад Сарафанов',
                            'personInfo': '5 дней назад',
                            'avatar': 'review__avatar-murad',
                            'textClasses': 'text_p text_margin-left_14px',
                            'likes': 12,
                            'favorite': 'favorite',
                            'iconState': 'material-icons__favorite',
                            'buttonState': 'like-button__button_active',
                            'numberState': 'like-button__number_active'})