include ../../blocks/header/header.pug
include ../../blocks/logo/logo.pug
include ../../blocks/button/button.pug
include ../../blocks/text/text.pug
include ../../blocks/contacts/contacts.pug
include ../../blocks/input/input.pug
include ../../blocks/menu/menu.pug

block variables 
    - var titlePage = "Headers & Footers"

block content
    .header-footer 
        img.header-footer__logo(src="assets/img/logo.svg" alt="toxin")
        +header(true, 'menu__link_bold', 'Юлий Цезарь')
        .header-footer__space
        +header(false, 'menu__link_bold')
        .header-footer__space
        include ../../blocks/footer1/footer1.pug
        .header-footer__space
        include ../../blocks/footer2/footer2.pug