extends ../../pug/layouts/main.pug
include ../../blocks/color/color.pug

block content
    body.ui-kit.ui-kit__body
        .column-colors.column-colors__body
             +color('Dark Shade 100%', '#1F2041', 'color__example_background_dark-shade-100')
             +color('Dark Shade 75%', '#1F2041', 'color__example_background_dark-shade-75')
             +color('Dark Shade 50%', '#1F2041', 'color__example_background_dark-shade-50')
             +color('Dark Shade 25%', '#1F2041', 'color__example_background_dark-shade-25')
             +color('Dark Shade 5%', '#1F2041', 'color__example_background_dark-shade-5')
             +color('Purple', '#BC9CFF', 'color__example_background_purple')
             +color('Green', '#6FCF97', 'color__example_background_green')

        