extends ../../pug/layouts/main.pug
include ../../blocks/color/color.pug
include ../../blocks/text/text.pug
include ../../blocks/input/input.pug
include ../../blocks/header/header.pug
include ../../blocks/button/button.pug
include ../../blocks/logo/logo.pug
include ../../blocks/contacts/contacts.pug
include ../../blocks/checkbox-button/checkbox.pug

block content
    .ui-kit
        .colors-and-type
            .column-colors.column-colors__body
                +color('Dark Shade 100%', '#1F2041', 'color__example_background_dark-shade-100')
                +color('Dark Shade 75%', '#1F2041', 'color__example_background_dark-shade-75')
                +color('Dark Shade 50%', '#1F2041', 'color__example_background_dark-shade-50')
                +color('Dark Shade 25%', '#1F2041', 'color__example_background_dark-shade-25')
                +color('Dark Shade 5%', '#1F2041', 'color__example_background_dark-shade-5')
                +color('Purple', '#BC9CFF', 'color__example_background_purple')
                +color('Green', '#6FCF97', 'color__example_background_green')
            .column-text.column-text__body 
                +text('H1', 'This one is the sub-section or widget title', 'h1')
                +text('H2', 'Next one is the item title inside widgets', 'h2')
                +text('H3', 'This is a label or CTA text', 'h3')
                +text('Body', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.', 'p')
        +header(true, 'Юлий Цезарь')
        +header(false)
        include ../../blocks/footer1/footer1.pug
        include ../../blocks/footer2/footer2.pug
        .form-elements
            .form-elements__block 
                .form-elements__column
                    +input('Email', 'text', false, true, 'text field', 'default', 'input__width_big')
                    +input('This is pretty awesome', 'text', false, true, 'text field', 'hover/focus', 'input__margin_top_20 input__width_big')
                    +input('Сколько гостей', 'number', false, false, 'Dropdown', '', 'input__margin_top_20 input__width_big', true)
                    +input('ДД.ММ.ГГГГ', 'date', false, false, 'masked text field', '', 'input__margin_top_20 input__width_big')
                    .form-elements__date.input__margin_top_20 
                        +input('ДД.ММ.ГГГГ', 'date', false, false, 'date Dropdown', '', 'input__width_small', true)
                        +input('19.08.2019', 'date', false, false, 'date Dropdown', '', 'input__margin_left_20 input__width_small', true)
                    +input('19 авг - 23 авг', 'text', false, false, 'filter date dropdown', '', 'input__margin_top_20 input__width_medium', true)
                    +input('Email', 'email', false, false, 'subscription text field', '', 'input__margin_top_20 input__width_medium', true)
                .form-elements__column    
                    +checkbox([{'id':'isSmokingAllowed', 'text':'Можно курить', 'name':'isSmokingAllowed'}, {'id':'arePetAllowed', 'text':'Можно с питомцами', 'name':'arePetAllowed'}, {'id':'areGuestsAllowed', 'text':'Можно пригласить гостей (до 10 человек)', 'name':'areGuestsAllowed'}], 'checkbox', 'Checkbox Buttons')
                    +checkbox([{'id':'man', 'text':'Мужчина' ,'name':'gender', 'value':'man'}, {'id':'woman', 'text':'Женщина', 'name':'gender', 'value':'woman'}], 'radio', 'Radio Buttons')
                

        