extends ../../pug/layouts/main.pug
include ../../blocks/color/color.pug
include ../../blocks/text/text.pug
include ../../blocks/input/input.pug
include ../../blocks/header/header.pug
include ../../blocks/button/button.pug
include ../../blocks/logo/logo.pug
include ../../blocks/contacts/contacts.pug
include ../../blocks/chose-button/chose-button.pug
include ../../blocks/toggle/toggle.pug
include ../../blocks/like-button/like-button.pug
include ../../blocks/rate-button/rate-button.pug
include ../../blocks/range-slider/range-slider.pug
include ../../blocks/pagination/pagination.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/checkbox-list/checkbox-list.pug
include ../../blocks/rich-checkbox-button/rich-checkbox-button.pug
include ../../blocks/bullet-list/bullet-list.pug
include ../../blocks/advantage/advantage.pug
include ../../blocks/review/review.pug
include ../../blocks/date-dropdown/date-dropdown.pug
include ../../blocks/find-room/find-room.pug
include ../../blocks/sign-up/sign-up.pug
include ../../blocks/room/room.pug
include ../../blocks/sign-in/sign-in.pug
include ../../blocks/choose-room/choose-room.pug
include ../../blocks/filter-date-dropdown/filter-date-dropdown.pug
include ../../blocks/bullet/bullet.pug

block variables 
    - var titlePage = "UI-KIT"

block content
    .ui-kit
        include ../../blocks/colors-and-type/colors-and-type.pug
        include ../../blocks/header-footer/header-footer.pug
        include ../../blocks/form-elements/form-elements.pug
        include ../../blocks/cards/cards.pug

block scripts

        