.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    margin: 0 auto;
}