mixin button(button)
    form.button(action=button.action)
        button.button__button(class="" + button.buttonClasses type=button.type)
            p.button__text(class="" + button.textClasses)=button.text
            if (button.hasArrow)
                .material-icons.material-icons__arrow-forward arrow_forward