mixin button(button = { 'action': 'submit', 'classes': '', 'buttonClasses': '', 'type': 'button', 'textClasses': 'text_p', 'text': 'кнопка', 'hasArrow': false })
    form.button(action=button.action class="" + button.classes)
        button.button__button(class="" + button.buttonClasses type=button.type)
            p.button__text(class="" + button.textClasses)=button.text
            if (button.hasArrow)
                .material-icons.material-icons__arrow-forward arrow_forward