.footer1__top-wrapper {
    display: flex;
    width: 80.5555556%;
    margin-top: 100px;
}

@media only screen and (max-width: 900px) {
    .footer1__top-wrapper {
        flex-direction: column;
        align-items: center;
    }
}