{
  "root": true,
  "extends": ["eslint:recommended", "airbnb-base", "prettier"],
  "rules": {
    "linebreak-style": ["error", "windows"]
  },
  "plugins": ["fsd", "prettier"],
  "env": {
    "browser": "true"
  }
}
