@font-face{font-family:'Montserrat';src:url(assets/fonts/Montserrat-Bold.ttf) format("truetype"),url(assets/fonts/Montserrat-Bold.woff) format("woff"),url(assets/fonts/Montserrat-Bold.svg) format("svg")}@font-face{font-family:'Montserrat';src:url(assets/fonts/Montserrat-Regular.ttf) format("truetype"),url(assets/fonts/Montserrat-Regular.woff) format("woff"),url(assets/fonts/Montserrat-Regular.svg) format("svg")}@font-face{font-family:'Quicksand';src:url(assets/fonts/Quicksand-Bold.ttf) format("truetype"),url(assets/fonts/Quicksand-Bold.woff) format("woff"),url(assets/fonts/Quicksand-Bold.svg) format("svg")}@font-face{font-family:'Quicksand';src:url(assets/fonts/Quicksand-Regular.ttf) format("truetype"),url(assets/fonts/Quicksand-Regular.woff) format("woff"),url(assets/fonts/Quicksand-Regular.svg) format("svg")}@font-face{font-family:'Material Icons';font-style:normal;font-weight:400;src:local("Material Icons"),local("MaterialIcons-Regular"),url(assets/fonts/MaterialIcons-Regular.svg) format("woff2"),url(assets/fonts/MaterialIcons-Regular.woff) format("woff"),url(assets/fonts/MaterialIcons-Regular.ttf) format("truetype")}

.toggle{display:flex;align-items:center}

.toggle__input{display:none}

.toggle__switch{background:#1F204140;width:12px;height:12px;border-radius:50%;transition:0.4s}

.toggle__text{margin-left:10px}

.toggle_active{border:1px solid #BC9CFF}

.toggle__switch_active{background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)}

.toggle__form{height:20px;width:40px;background:#fff;box-sizing:border-box;padding:3px;border-radius:10px;transition:0.4s;cursor:pointer;border:1px solid rgba(31,32,65,0.25)}


.like-button__button{display:flex;align-items:center;background:#FFFFFF;border:1px solid rgba(31,32,65,0.25);box-sizing:border-box;border-radius:10px;width:40px;height:20px;cursor:pointer}

.like-button__number{margin-left:5px;font-size:10px;line-height:12px;text-align:center;color:rgba(31,32,65,0.25)}

.like-button__button_active{border:1px solid #BC9CFF}

.like-button__number_active{color:#BC9CFF}

.noUi-connect{background:linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)}.noUi-handle{background:linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);border:2px solid #FFFFFF;border-radius:10px;box-shadow:none;left:20px}.noUi-handle::before,.noUi-handle::after{display:none}.noUi-horizontal .noUi-handle{width:12px;height:12px;top:-4px}.noUi-target{background:white;border:1px solid rgba(31,32,65,0.25);border-radius:3px;box-sizing:border-box;box-shadow:none;height:6px;color:linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)}

.range-slider__head{display:flex;justify-content:space-between}

.range-slider__title{font-weight:bold;font-size:12px;line-height:15px;text-transform:uppercase;color:#1F2041}

.range-slider__slider{margin-top:20px;width:266px}

.range-slider__range{font-size:12px;line-height:15px;text-align:right;text-transform:uppercase;color:rgba(31,32,65,0.5)}

.range-slider_margin-top_30px{margin-top:30px}

.dropdown_width_320px{width:320px}

.dropdown_width_266px{width:266px}

.iqdropdown{background-color:white;border:1px solid rgba(31,32,65,0.25);border-radius:2px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;padding:0px}.iqdropdown .iqdropdown-menu{height:auto;border:1px solid rgba(31,32,65,0.5);border-bottom-left-radius:2px;border-bottom-right-radius:2px;box-shadow:none}.iqdropdown .iqdropdown-selection{display:flex;align-items:center;justify-content:space-between;font-family:'Montserrat', sans-serif;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;text-transform:none;color:rgba(31,32,65,0.75);padding-left:15px}.iqdropdown .iqdropdown-selection::after{height:0px}.iqdropdown .icon-decrement{font-family:'Montserrat', sans-serif;font-style:normal;font-weight:normal;color:rgba(31,32,65,0.5)}.iqdropdown .icon-decrement::after{height:0}.iqdropdown .icon-decrement.icon-increment::before{height:0}.iqdropdown .iqdropdown-menu-option{justify-content:space-between;height:auto;margin-top:7px;margin-bottom:7px;padding-right:7px}.iqdropdown .iqdropdown-item-controls{align-items:center;height:30px;width:92px;display:flex;justify-content:space-between}.iqdropdown .iqdropdown-item-controls .counter{border:none;font-family:'Montserrat', sans-serif;font-style:normal;font-weight:bold;font-size:12px;line-height:15px;text-align:center;text-transform:uppercase;color:#1F2041;padding-left:10px;padding-right:10px}.iqdropdown .iqdropdown-item-controls button.button-increment{width:30px;height:30px;padding:0;border-radius:50%;border:1px solid rgba(31,32,65,0.5)}.iqdropdown .iqdropdown-item-controls button.button-decrement{width:30px;height:30px;padding:0;border-radius:50%;border:1px solid rgba(31,32,65,0.5)}.iqdropdown .iqdropdown-item-controls button.button-decrement:disabled{border:1px solid rgba(31,32,65,0.25)}.dropdown__buttons ~ .iqdropdown-item-controls{display:none}

.dropdown__buttons{display:flex;align-items:center;justify-content:space-between;margin-top:13px;margin-bottom:13px;width:100%}

.dropdown__buttons_justify-content_flex-end{justify-content:flex-end}

.iqdropdown.iqdropdown__checkbox-list{border:none;padding-left:0}.iqdropdown.iqdropdown__checkbox-list .iqdropdown-menu.checkbox-list_border_none{border:none}.iqdropdown .iqdropdown-selection.iqdropdown-selection__checkbox-list{padding-left:0}.iqdropdown .iqdropdown-menu-option.iqdropdown-menu-option__checkbox-list{padding-left:0}.iqdropdown .iqdropdown-selection p.checkbox-list__text{font-family:'Montserrat', sans-serif;font-style:normal;font-weight:bold;font-size:12px;line-height:15px;text-transform:uppercase;color:#1F2041}.iqdropdown .iqdropdown-item-controls.checkbox-list__controls{display:none}

.color__example_background_green{background:#6FCF97;border-radius:6px;width:70px;height:70px}

.color__example_background_purple{background:#BC9CFF;border-radius:6px;width:70px;height:70px}

.color__example_background_dark-shade-5{background:rgba(31,32,65,0.0509804);border-radius:6px;width:70px;height:70px}

.color__example_background_dark-shade-25{background:rgba(31,32,65,0.25098);border-radius:6px;width:70px;height:70px}

.color__example_background_dark-shade-50{background:rgba(31,32,65,0.501961);border-radius:6px;width:70px;height:70px}

.color__example_background_dark-shade-75{background:rgba(31,32,65,0.74902);border-radius:6px;width:70px;height:70px}

.color__example_background_dark-shade-100{background:#1F2041;border-radius:6px;width:70px;height:70px}

.color__description{font-size:19px;line-height:28px;padding-left:40px;align-self:center;color:#1F2041}

.color__body{padding-bottom:20px}

.color__text{font-weight:bold;font-size:19px;line-height:27.79px}


.color{display:flex}

.form-elements{display:flex;flex-direction:column}

.form-elements__block{display:flex}

.form-elements__column{display:flex;flex-direction:column}

.form-elements__date{display:flex}

.form-elements__title{margin-top:40px;margin-bottom:20px;font-weight:bold;font-size:12px;line-height:15px;text-transform:uppercase;color:#1F2041}

.form-elements__flex{display:flex;align-items:center;justify-content:space-between}

.form-elements__title-description{font-size:12px;line-height:15px;text-transform:uppercase;color:rgba(31,32,65,0.5);margin-top:0;margin-bottom:0}

.form-elements_margin-top_70px{margin-top:70px}

.form-elements_margin-bottom_70px{margin-bottom:70px}

.form-elements_margin-left_130px{margin-left:130px}

.form-elements__block_justify-content_space-between{justify-content:space-between}

.form-elements_margin-top_30px{margin-top:30px}

.form-elements_margin-top_40px{margin-top:40px}

.input{display:flex;background:#FFFFFF;border:1px solid rgba(31,32,65,0.25);box-sizing:border-box;border-radius:4px}

.input__input{border:none;width:100%}.input__input:hover,.input__input:focus{font-size:14px;line-height:24px;color:rgba(31,32,65,0.75)}.input__input::placeholder{font-size:14px;line-height:18px;color:rgba(31,32,65,0.25)}

.input_height_44px{height:44px}

.input_width_150px{width:150px}

.input_width_266px{width:266px}

.input_width_320px{width:320px}

.input__arrow-forward{background:white;border:none;width:44px}

.material-icons.material-icons__arrow-forward.input__arrow-forward_color_blue{color:#8BA4F9}

.chose-button{display:flex;align-items:center}

.chose-button__button{display:none}

.chose-button__label{font-size:14px;line-height:18px;color:rgba(31,32,65,0.5);font-weight:normal;cursor:default;vertical-align:middle}

.chose-button__flex-direction_column{flex-direction:column}

.chose-button__container{display:flex;align-items:center}

.chose-button_margin-left_20px{margin-left:20px}

.chose-button__fake-checkbox{border-radius:4px;align-self:flex-start}.chose-button__button:checked+.chose-button__fake-checkbox::before{content:'';display:inline-block;position:relative;width:6px;height:2px;right:1px;bottom:4px;background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);transform:rotate(45deg)}.chose-button__button:checked+.chose-button__fake-checkbox::after{content:'';display:inline-block;position:relative;width:2px;height:8px;right:1px;bottom:2px;background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);transform:rotate(45deg)}

.chose-button__fake-radio{border-radius:50%}.chose-button__button:checked+.chose-button__fake-radio::before{content:'';color:#000;display:inline-block;position:relative;text-align:center;text-indent:0px;width:12px;height:12px;background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);box-sizing:border-box;border-radius:50%}

.chose-button__fake-button{color:#000;display:inline-block;margin-right:9.74px;position:relative;text-align:center;text-indent:0px;width:20px;height:20px;background:#FFF;border:1px solid rgba(31,32,65,0.25);box-sizing:border-box;vertical-align:middle}.chose-button__button:checked+.chose-button__fake-button{border:1px solid #BC9CFF}

.chose-button__label_width_192px{width:192px}

.chose-button_margin-top_10px{margin-top:10px}

.button{display:flex;align-items:center;justify-content:flex-start;box-sizing:border-box}

.button_color_white{color:white}

.button_color_blue{color:#BC9CFF}

.button_background-color_white{background-color:white}

.button_background-color_blue{background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)}

.button_border_blue{border:2px solid #BC9CFF}

.button_border_none{border:none}

.button_width_61px{width:61px}

.button_width_72px{width:72px}

.button_width_84px{width:84px}

.button_width_87px{width:87px}

.button_width_99px{width:99px}

.button_width_196px{width:196px}

.button_width_320px{width:320px}

.button_height_15px{height:15px}

.button_height_34px{height:34px}

.button_height_44px{height:44px}

.button_opacity_50per{opacity:0.5}

.button_border-opacity_50per{border:2px solid rgba(188,156,255,0.5)}

.button_color_dark{color:rgba(31,32,65,0.5)}

.button__text{font-weight:bold;font-size:12px;line-height:15px;text-transform:uppercase;margin-top:0px;margin-bottom:0px;position:absolute}

.button__button{cursor:pointer;padding:0;display:flex;border-radius:22px;align-items:center;justify-content:center;position:relative}

.footer1{display:flex;flex-direction:column;width:100%}

.footer1__logo{display:flex;flex-direction:column;width:18%;margin-top:100px}

.footer1__description{font-size:14px;line-height:24px;color:#1F2041BF}

.footer1__nav-head{list-style-type:none;text-transform:uppercase;font-weight:bold;font-size:12px;line-height:15px;margin-bottom:21px;color:#1F2041}

.footer1__nav-item{list-style-type:none;margin-bottom:20px;color:#1F204180;font-size:14px;line-height:17px}

.footer1__top{height:372px;box-shadow:0px 1px 0px 0px rgba(31,32,65,0.1)}

.footer1__bottom{height:70px;display:flex;align-items:center;justify-content:space-between;box-shadow:0px 10px 20px 0px rgba(31,32,65,0.05)}

.footer1__nav_width_18{width:18%}

.footer1__nav-subscribe{font-size:14px;line-height:24px;color:rgba(31,32,65,0.75);list-style-type:none;margin-bottom:20px}

.footer1__input{list-style-type:none}

.footer1__nav{margin-top:104px}

.footer1__rights{font-size:14px;line-height:17px;color:rgba(31,32,65,0.75);margin-left:140px}

.footer1__top-wrapper{display:flex;justify-content:space-between;margin-left:140px;margin-right:140px}

.material-icons.material-icons__favorite{font-size:10px;color:#BC9CFF;line-height:9px}

.material-icons.material-icons__favorite-border{font-size:10px;line-height:9px;color:#1F204140}

.material-icons__star{font-size:24px;line-height:20px;color:#BC9CFF;position:absolute;bottom:0px;left:-2px}

.material-icons__star-border{font-size:24px;line-height:20px;color:#BC9CFF;position:absolute;bottom:0px;left:-2px}

.material-icons__arrow-forward{font-size:24px;line-height:24px;width:40px;color:white;margin-left:auto}

.material-icons.material-icons__insert-emoticon{font-size:48px;line-height:41px;color:#8BA4F9}

.material-icons.material-icons__location-city{font-size:48px;line-height:41px;color:#8BA4F9}

.material-icons__expand-more{width:44px;text-align:center}

.material-icons__arrow-forward_color_blue{color:#bc9cff}

.material-icons__arrow-back{font-size:24px;line-height:24px;width:40px;color:#bc9cff;margin-left:auto}

.material-icons.material-icons__whatshot{font-size:48px;line-height:41px;color:#8BA4F9}

.material-icons{font-family:'Material Icons';font-weight:normal;font-style:normal;font-size:24px;display:inline-block;line-height:1;text-transform:none;letter-spacing:normal;word-wrap:normal;white-space:nowrap;direction:ltr;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;-moz-osx-font-smoothing:grayscale;font-feature-settings:'liga'}

.logo{display:flex;align-items:center}

.logo__body{margin-left:140px}


.logo__text{margin-left:12.5px}

.menu{margin-right:140px}

.menu__list{display:flex}

.menu__item{margin-right:20px;list-style-type:none;display:flex;justify-content:center;align-items:center}

.menu__link{color:rgba(31,32,65,0.5);font-size:14px;line-height:17px;text-decoration:none;display:table-cell;vertical-align:middle}

.menu__line{border-left:1px solid #1F20411A;height:30px}

.menu__link_bold{font-weight:bold;color:#1F2041BF}

.rate-button{display:flex}

.rate-button__button{background-color:white;border:none;cursor:pointer;width:24px;height:24px;position:relative}

.rate-button_margin-left_20{margin-left:20px}

.text{display:flex}

.text_h1{font-size:24px;line-height:29px;color:#1F2041;margin-top:0px;margin-bottom:0px}

.text_h2{font-size:19px;line-height:23px;color:#1F2041;margin-top:0px;margin-bottom:0px}

.text_h3{font-size:12px;line-height:15px;text-transform:uppercase;color:#1F2041;margin-top:0px;margin-bottom:0px}

.text_p{font-size:14px;line-height:24px;color:rgba(31,32,65,0.75);margin-top:0px;margin-bottom:0px}

.text_color-opacity_25per{color:rgba(31,32,65,0.25)}

.text_font-weight_normal{font-weight:normal}

.text_margin-left_30px{margin-left:30px}

.text_margin-bottom_5px{margin-bottom:5px}

.text_width_214px{width:214px}

.text_align-self_flex-start{align-self:flex-start}

.text_color_blue{color:#bc9cff}

.text_margin-bottom_16px{margin-bottom:16px}

.text_margin-top_30px{margin-top:30px}

.text_color-opacity_50per{color:rgba(31,32,65,0.5)}

.text_font-size_12px{font-size:12px}

.text_line-height_14px{line-height:14px}

.text_margin-top_13px{margin-top:13.56px}

.text_width_150px{width:150px}

.text_margin-left_20px{margin-left:20px}

.text_margin-bottom_20px{margin-bottom:20px}

.text_margin-left_347px{margin-left:347px}

.text_width_341px{width:341px}

.pagination{display:flex;flex-direction:column}

.pagination__button{width:40px;height:40px;background:white;border-radius:50%;border:none;cursor:pointer}

.pagination__button_active{background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);color:white}

.pagination__next-button{background:linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)}

.pagination__text{font-size:14px;line-height:24px;color:rgba(31,32,65,0.75);margin-left:6px}

.pagination__form{display:flex;align-items:center}

.pagination__button_inactive{font-size:12px;line-height:15px;color:rgba(31,32,65,0.5)}

.ui-kit_margin-top_40px{margin-top:40px}

.ui-kit{width:1440px;font-family:'Montserrat', sans-serif;font-style:normal;font-weight:normal}


.rich-checkbox-button__description{margin-left:30px;width:203px;font-size:12px;line-height:14px;color:rgba(31,32,65,0.5)}

.bullet-list{display:flex;align-items:center;margin-bottom:10px}

.bullet-list__bullet{width:10.43px;height:10px;background:rgba(31,32,65,0.25);border-radius:50%;margin-right:10.43px}

.bullet-list__text{font-size:14px;line-height:24px;color:rgba(31,32,65,0.75);margin-top:0;margin-bottom:0}

.advantage{display:flex;align-items:center}

.advantage__title{font-family:'Montserrat', sans-serif;font-weight:bold;font-size:14px;line-height:24px;color:rgba(31,32,65,0.75);margin-top:0px;margin-bottom:0px}

.advantage__description{font-family:'Montserrat', sans-serif;font-size:14px;line-height:24px;color:rgba(31,32,65,0.75);margin-top:0px;margin-bottom:0px}

.advantage__text{display:flex;flex-direction:column;width:233px;margin-left:10px}

.advantage__line{background:rgba(31,32,65,0.1);height:1px;margin-top:17px;margin-bottom:20px;width:280px}

.advantage__text_width_233px{width:233px}

.advantage__text_width_222px{width:222px}

.review{display:flex;flex-direction:column}

.review__person{display:flex;align-items:center}

.review__avatar{background-size:cover;width:48px;height:48px}


.review__person-name{margin-bottom:0px;margin-top:0px;font-weight:bold;font-size:14px;line-height:24px}

.review__person-info{margin-bottom:0px;margin-top:0px;font-size:14px;line-height:24px}

.review__review{display:flex;align-items:center}

.review__text{font-size:14px;line-height:24px;color:rgba(31,32,65,0.75)}

.review__avatar-murad{background-image:url(assets/img/avatar-murad.png)}

.review__avatar-patricia{background-image:url(assets/img/avatar-patricia.png)}

.date-dropdown{width:320px;display:flex}

.date-dropdown__label{width:150px;height:44px;display:flex;border:1px solid rgba(31,32,65,0.25);border-radius:4px;align-items:center;justify-content:space-between}

.date-dropdown__input{border:none;width:100%;font-family:'Montserrat', sans-serif;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;color:rgba(31,32,65,0.75)}

.date-dropdown__input_width_103px{width:103px}

.date-dropdown__input_height_24px{height:24px}

.date-dropdown__label_margin-left_20px{margin-left:20px}

.air-datepicker{width:320px;background:#FFFFFF;border:1px solid rgba(31,32,65,0.25);box-sizing:border-box;box-shadow:0px 10px 20px rgba(31,32,65,0.05);--adp-day-cell-height: 40px;--adp-day-cell-width: 39.88px;--adp-padding: 30px 19.67px 20.44px 21.2px;--adp-btn-height: 15px}.air-datepicker.-inline-{box-shadow:0px 10px 20px rgba(31,32,65,0.05)}.air-datepicker-body--day-name{color:#bc9cff;font-family:'Montserrat', sans-serif;font-style:normal;font-weight:bold;font-size:12px;line-height:15px}.air-datepicker-cell{font-family:'Montserrat', sans-serif;font-style:normal;font-weight:normal;font-size:12px;line-height:15px;display:flex;align-items:center;text-align:center;color:rgba(31,32,65,0.5)}.air-datepicker-cell.-selected-{background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);border-radius:50%}.air-datepicker-cell.-current-{background:linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);border-radius:50%;color:white}.air-datepicker-cell.-in-range-{background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);opacity:0.25;font-family:'Montserrat', sans-serif;color:rgba(31,32,65,0.5);font-style:normal;font-weight:normal;font-size:12px;line-height:15px}.air-datepicker-cell.-range-from-::after{content:"";position:absolute;border-bottom-left-radius:50%;border-top-left-radius:50%;width:100%;height:100%;background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);opacity:0.25}.air-datepicker-cell.-range-to-::after{border-bottom-right-radius:50%;border-top-right-radius:50%;content:"";position:absolute;width:100%;height:100%;background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);opacity:0.25}.air-datepicker--buttons{padding:0 20px 20px 20px;border:none}.air-datepicker-buttons{display:flex;justify-content:space-between}.air-datepicker-nav{border:none;padding:20px 20.67px 0 20.2px}.air-datepicker-nav--title{font-family:'Montserrat', sans-serif;font-style:normal;font-weight:bold;font-size:19px;line-height:23px;text-align:center;color:#1F2041}.air-datepicker-button{font-family:'Montserrat', sans-serif;font-style:normal;font-weight:bold;font-size:12px;line-height:15px;text-transform:uppercase;color:#BC9CFF}.air-datepicker--pointer{display:none}

.find-room{display:flex;flex-direction:column;align-items:center;width:380px;height:374px;background:#FFFFFF;border:1px solid rgba(0,0,0,0.12);box-sizing:border-box;box-shadow:0px 0px 25px rgba(0,0,0,0.2);border-radius:4px}

.find-room__row{display:flex;width:320px}

.find-room__row_margin-top_40px{margin-top:40px}

.find-room__row_margin-top_31px{margin-top:40px}

.find-room__row_margin-top_21px{margin-top:21px}

.find-room__column{display:flex;flex-direction:column}

.find-room__column_margin-left_20px{margin-left:20px}

.find-room_margin-top_70px{margin-top:70px}

.find-room_margin-left_140px{margin-left:140px}

.cards{display:flex;margin-top:150px;height:1350px}

.cards__column{display:flex;flex-direction:column}

.cards_margin-left_140px{margin-left:140px}

.cards_margin-top_40px{margin-top:40px}

.cards_margin-left_40px{margin-left:40px}

.colors-and-type{display:flex;margin-bottom:200px;margin-top:145px}

.colors-and-type__row{display:flex;margin-bottom:50px;width:320px}

.colors-and-type__colors{margin-left:150px}

.colors-and-type__type{margin-left:415px;width:436px}

.sign-up{width:380px;height:646px;background:#FFFFFF;border:1px solid rgba(0,0,0,0.12);box-sizing:border-box;box-shadow:0px 0px 25px rgba(0,0,0,0.2);border-radius:4px;display:flex;flex-direction:column;align-items:center}

.sign-up__row{display:flex;align-items:center;width:320px;justify-content:space-between}

.sign-up__column{display:flex;flex-direction:column}

.sign-up__row_margin-top_40px{margin-top:40px}

.sign-up__row_margin-top_30px{margin-top:30px}

.sign-up__row_margin-top_20px{margin-top:20px}

.sign-up__row_margin-top_10px{margin-top:10px}

.sign-up__row_width_320px{width:320px}

.sign-up__row_height_25px{height:25px}

.sign-up__row_justify-content_flex-start{justify-content:flex-start}

.room{width:380px;height:512px;background:#FFFFFF;border:1px solid rgba(0,0,0,0.12);box-sizing:border-box;box-shadow:0px 0px 25px rgba(0,0,0,0.2);border-radius:4px;display:flex;flex-direction:column;align-items:center}

.room__row{display:flex;align-items:center;justify-content:space-between;width:320px}

.room__column{display:flex;flex-direction:column}

.room__row_margin-top_10px{margin-top:10px}

.room__row_margin-top_20px{margin-top:20px}

.room__row_margin-top_30px{margin-top:30px}

.room__row_margin-top_40px{margin-top:40px}

.room__dashed-line{width:182px;height:1px;border:1px dashed rgba(31,32,65,0.25);box-sizing:border-box;align-self:flex-end;margin-bottom:5px}

.room__info{position:relative;margin-right:auto;left:5px}

.room__circle{width:20px;height:20px;border:1px solid rgba(31,32,65,0.25);box-sizing:border-box;border-radius:50%;position:relative}

.room__i{font-weight:bold;font-size:12px;line-height:14px;color:rgba(31,32,65,0.25);position:absolute;left:50%;transform:translateX(-50%)}

.room__info_align-self_flex-start{align-self:flex-start}

.room__lux{margin-right:auto;margin-left:8px;align-self:flex-end;margin-bottom:3px}

.room__number{font-weight:bold;font-size:24px;line-height:29px;color:#1F2041;margin-top:0px;margin-bottom:0px}

.room__sign-number{font-weight:bold;font-size:14px;line-height:17px;color:#1F2041;margin-top:0px;margin-bottom:0px}

.room__money{font-weight:bold;font-size:14px;line-height:18px;color:rgba(31,32,65,0.5);margin-top:0px;margin-bottom:0px;align-self:flex-end}

.room__in-day{font-weight:normal;font-size:12px;line-height:18px;color:rgba(31,32,65,0.5);margin-top:0px;margin-bottom:0px}

.sign-in{width:380px;height:358px;background:#FFFFFF;border:1px solid rgba(0,0,0,0.12);box-sizing:border-box;box-shadow:0px 0px 25px rgba(0,0,0,0.2);border-radius:4px;display:flex;align-items:center;flex-direction:column}

.sign-in__row{display:flex;width:320px;align-items:center;justify-content:space-between}

.sign-in__column{display:flex;flex-direction:column}

.sign-in__row_margin-top_40px{margin-top:40px}

.sign-in__row_margin-top_30px{margin-top:30px}

.sign-in__row_margin-top_20px{margin-top:20px}

.sign-in__row_margin-top_10px{margin-top:10px}

.choose-room{width:270px;height:257px;background:#FFFFFF;box-shadow:0px 10px 20px rgba(31,32,65,0.05);border-radius:4px;display:flex;flex-direction:column;align-items:center}

.choose-room__row{display:flex;width:234px;align-items:center;justify-content:space-between}

.choose-room__line{background:rgba(31,32,65,0.1);height:1px;width:230px}

.choose-room__img{width:100%;height:150px}

.choose-room__img888-lux{background-image:url(assets/img/room888-lux.png)}

.choose-room__img840{background-image:url(assets/img/room840.png)}

.choose-room__img350{background-image:url(assets/img/room350.png)}

.choose-room__img352{background-image:url(assets/img/room352.png)}

.choose-room__img444{background-image:url(assets/img/room444.png)}

.choose-room__img450{background-image:url(assets/img/room450.png)}

.choose-room__img666{background-image:url(assets/img/room666.png)}

.choose-room__img678{background-image:url(assets/img/room678.png)}

.choose-room__img740{background-image:url(assets/img/room740.png)}

.choose-room__img856{background-image:url(assets/img/room856.png)}

.choose-room__img980-lux{background-image:url(assets/img/room980-lux.png)}

.choose-room__img982{background-image:url(assets/img/room982.png)}

.choose-room__row_margin-top_20px{margin-top:20px}

.choose-room__row_margin-top_10px{margin-top:10px}

.choose-room__row_margin-top_8px{margin-top:8px}

.choose-room__number{font-weight:bold;font-size:19px;line-height:23px;color:#1F2041}

.choose-room__sign-number{font-weight:bold;font-size:14px;line-height:17px;color:#1F2041;margin-top:0px;margin-bottom:0px}

.choose-room__money{margin-top:0px;margin-bottom:0px;font-weight:bold;font-size:14px;line-height:18px;color:rgba(31,32,65,0.5)}

.choose-room__in-day{font-weight:normal;font-size:12px}

.choose-room__lux{margin-right:auto;margin-left:8px;align-self:flex-end;margin-bottom:3px}

.choose-room__review-number{font-weight:bold;font-size:14px;line-height:18px;color:rgba(31,32,65,0.5)}

.choose-room__review{font-weight:normal}

.choose-room_margin-left_12px{margin-left:12px}

.landing-page{width:1440px}

.landing-page__background-img{background-image:url(assets/img/landing-page__background-img.png);width:100%;height:830px;padding-top:70px}

.registration{width:1440px}

.registration-page__background-img{background-image:url(assets/img/registration-page__background-img.png);width:100%;height:684px;display:flex;align-items:center;justify-content:center}

.sing-in-page{width:1440px}

.sign-in-page__background-img{background-image:url(assets/img/sign-in-page__background-img.png);width:100%;height:684px;display:flex;align-items:center;justify-content:center}

.search-room-page{width:1440px;font-family:'Montserrat', sans-serif;font-style:normal;font-weight:normal}

.search-room-page__wrapper{display:flex;margin-left:140px;margin-right:140px;margin-top:30px;margin-bottom:70px}



.search-room-page__rooms_margin-left_60px{margin-left:60px}

.search-room-page__rooms-row{display:flex}

.search-room-page__rooms-row_margin-top_21px{margin-top:21px}

.search-room-page__rooms-row_margin-top_40px{margin-top:40.5px}

.search-room-page__rooms-row_justify-content_center{justify-content:center}

.search-room-page__line{border:1px solid rgba(31,32,65,0.25);width:100%;height:0}


.filter-date-dropdown__label{width:266px;height:44px;display:flex;border:1px solid rgba(31,32,65,0.25);border-radius:4px;align-items:center;justify-content:space-between}

.filter-date-dropdown__input{border:none;width:103px;font-family:'Montserrat', sans-serif;font-style:normal;font-weight:normal;font-size:14px;line-height:24px;text-transform:lowercase;color:rgba(31,32,65,0.75);margin-left:15px}

.room-details-page{font-family:'Montserrat', sans-serif;width:1440px}

.room-details-page__content{margin:70px 140px}

.room-details-page__imgs{width:100%;display:flex;height:485px}

.room-details-page__img1{background-image:url(assets/img/img1.png);width:981px}

.room-details-page__img2{background-image:url(assets/img/img2.png);width:461px;height:243px}

.room-details-page__img3{background-image:url(assets/img/img3.png);height:242px;width:461px}

.room-details-page__small-imgs{height:100%}

.room-details-page__row{display:flex}


.room-details-page__column_margin-left_70px{margin-left:70px}

.room-details-page__row_margin-top_30px{margin-top:30px}

.header{display:flex;align-items:center;justify-content:space-between;box-shadow:0px 10px 20px 0px #1F20410D}

.expand-more{border:solid #1F204180;border-width:0 2px 2px 0;display:inline-block;padding:3px;-webkit-transform:rotate(45deg);transform:rotate(45deg);background-color:white}

.expand-more__margin-left{margin-left:8px}

.footer2{display:flex;justify-content:center;align-items:center;flex-direction:column;width:53.33%;height:367px;margin-left:25%;box-shadow:0px 10px 20px rgba(31,32,65,0.05)}

.footer2__rights{margin-top:20px;margin-bottom:25px;font-size:14px;line-height:17px;color:rgba(31,32,65,0.75)}

.contacts{display:flex;justify-content:space-between;width:112px}

.contacts__margin{margin-right:140px}

