.circle-diagram__up-quarter {
    width: 59px;
    height: 59px;
    border: 4px transparent;
    border-bottom: none;
    border-left: none;
    border-top-right-radius: 125px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    position: relative;
    &::after {
        position: absolute;
        content: '';
        height: 55px;
        width: 59px;
        top: 4px;
        right: 4px;
        border-top: none;
        border-left: none;
        border-top-right-radius: 125px;
        background: white;
    }
}