.circle-diagram__down-quarter {
    width: 59px;
    height: 60px;
    border: 4px transparent;
    border-top: none;
    border-left: none;
    border-bottom-right-radius: 125px;
    margin-top: 2px;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    position: relative;
    &::after {
        position: absolute;
        content: '';
        height: 56px;
        width: 59px;
        right: 4px;
        border-top: none;
        border-left: none;
        border-bottom-right-radius: 125px;
        background: white;
    }
}

