.circle-diagram__left-half-circle {
    width: 59px;
    height: 121px;
    border: 4px solid;
    border-radius: 125px;
    border-right: none;
    border-image: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
    border-image-slice: 1;
}