mixin circle-diagram(number)
    .circle-diagram
        .circle-diagram__left-half-circle 
        .circle-diagram__right-half-circle 
            .circle-diagram__up-quarter 
            .circle-diagram__down-quarter
        .circle-diagram__text
            +text('260', 'h1', 'text_h1 text_color_blue')
            +text('голосов', 'h3', 'text_h3 text_color_blue')