.circle-diagram__down-quarter {
    width: 59px;
    height: 60px;
    border: 4px solid;
    border-top: none;
    border-left: none;
    border-bottom-right-radius: 125px;
    margin-top: 2px;
    border-image: linear-gradient(180deg, #6FCF97 100%, #66D2EA 0%);
    border-image-slice: 1;
}

