block variables 
  - var titlePage = registration

block content
  .main 
    .main__information Страницы проекта
    .main__pages 
      a.main__link(href="/landing.html") Landing
      a.main__link(href="/sign-in.html") Sign in
      a.main__link(href="/registration.html") Registration
      a.main__link(href="/sign-in.html") Search room
      a.main__link(href="/sign-in.html") Room details
      a.main__link(href="/sign-in.html") UI KIT Colors and type
      a.main__link(href="/sign-in.html") UI KIT Form elements
      a.main__link(href="/sign-in.html") UI KIT Cards
      a.main__link(href="/sign-in.html") UI KIT Headers and footers