extends ../../pug/layouts/main.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/header/header.pug
include ../../blocks/logo/logo.pug
include ../../blocks/button/button.pug
include ../../blocks/input/input.pug
include ../../blocks/contacts/contacts.pug
include ../../blocks/text/text.pug
include ../../blocks/date-dropdown/date-dropdown.pug
include ../../blocks/range-slider/range-slider.pug
include ../../blocks/chose-button/chose-button.pug
include ../../blocks/filter-date-dropdown/filter-date-dropdown.pug
include ../../blocks/rich-checkbox-button/rich-checkbox-button.pug
include ../../blocks/checkbox-list/checkbox-list.pug
include ../../blocks/choose-room/choose-room.pug
include ../../blocks/rate-button/rate-button.pug
include ../../blocks/pagination/pagination.pug
include ../../blocks/menu/menu.pug

block variables 
    - var titlePage = 'Search room'

block content
    .search-room-page
        +header(false)
        main.search-room-page__wrapper
            .search-room-page__conditions
                +text('даты пребывания в отеле', 'h3', 'text_h3 text_margin-bottom_5px')
                +filter-date-dropdown('filter-date-dropdown-search-room', '')
                +text('гости', 'h3', 'text_h3 text_margin-bottom_5px text_margin-top_20px')
                +dropdown(true, '3 гостя', [{'id': 'adults', 'name': 'взрослые', 'default': '2'}, {'id': 'kids', 'name': 'дети', 'default': '0'}, {'id': 'babies', 'name': 'младенцы', 'default': '1'}], '', 'guest-search-room')
                +range-slider('диапазон цены', 'range-slider_margin-top_30px')
                +text('Стоимость за сутки пребывания в номере', 'p', 'text_p text_margin-top_13px text_color-opacity_50per text_font-size_12px text_line-height_14px')
                +text('правила дома', 'h3', 'text_h3 text_margin-top_30px text_margin-bottom_16px')
                +chose-button({
                    'id':'isSmokingAllowed',
                    'text':'Можно курить',
                    'name':'isSmokingAllowed',
                    'fakeClasses':'chose-button__fake-checkbox',
                    }, 'checkbox')
                +chose-button({
                    'id':'arePetAllowed',
                    'text':'Можно с питомцами',
                    'name':'arePetAllowed',
                    'fakeClasses':'chose-button__fake-checkbox',
                    'buttonClasses': 'chose-button_margin-top_10px',
                    'checked': true
                    }, 'checkbox')   
                +chose-button({
                    'id':'areGuestsAllowed',
                    'text':'Можно пригласить гостей (до 10 человек)',
                    'name':'areGuestsAllowed',
                    'checked': true,
                    'fakeClasses': 'chose-button__fake-checkbox',
                    'labelClasses': 'chose-button__label_width_192px',
                    'buttonClasses': 'chose-button_margin-top_10px'
                    }, 'checkbox')
                +text('доступность', 'h3', 'text_h3 text_margin-top_30px text_margin-bottom_16px')
                +rich-checkbox-button([{
                        'id': 'wide-hall',
                        'text': 'Широкий коридор',
                        'name': 'wide-hall',
                        'description': 'Ширина коридоров в номере не менее 91 см.',
                        'fakeClasses': 'chose-button__fake-checkbox',
                        'labelClasses': 'chose-button__label_bold'},
                        {'id': 'invalid-helper',
                        'text': 'Помощник для инвалидов',
                        'name': 'wide-hall',
                        'description': 'На 1 этаже вас встретит специалист  и проводит до номера.',
                        'fakeClasses': 'chose-button__fake-checkbox',
                        'labelClasses': 'chose-button__label_bold'}])
                +text('доступность', 'h3', 'text_h3 text_margin-top_30px text_margin-bottom_5px')
                +dropdown(false, '2 спальни, 2 кровати...', [{'name':'спальни', 'id': 'rooms', 'default' : '2'}, {'name':'кровати', 'id': 'bed', 'default' : '2'}, {'name':'ванные комнаты', 'id': 'baths', 'default' : '0'}], '', 'furniture')
                +checkbox-list(
                        [{'id': 'breakfast', 'text': 'Завтрак', 'name': 'breakfast', 'fakeClasses': 'chose-button__fake-checkbox'},
                        {'id': 'write-table', 'text': 'Письменный стол', 'name': 'write-table', 'fakeClasses': 'chose-button__fake-checkbox', 'checked': true},
                        {'id': 'food-table', 'text': 'Стул для кормления', 'name': 'food-table', 'fakeClasses': 'chose-button__fake-checkbox', 'checked': true},
                        {'id': 'baby-bed', 'text': 'Кроватка', 'name': 'baby-bed', 'fakeClasses': 'chose-button__fake-checkbox', 'checked': true},
                        {'id': 'tv', 'text': 'Телевизор', 'name': 'tv', 'fakeClasses': 'chose-button__fake-checkbox'},
                        {'id': 'shampoo1', 'text': 'Шампунь', 'name': 'shampoo', 'fakeClasses': 'chose-button__fake-checkbox'},
                        {'id': 'tv', 'text': 'Телевизор', 'name': 'tv', 'fakeClasses': 'chose-button__fake-checkbox'},
                        {'id': 'shampoo2', 'text': 'Шампунь', 'name': 'shampoo', 'fakeClasses': 'chose-button__fake-checkbox'}],
                        'дополнительные удобства')
            .search-room-page__rooms.search-room-page__rooms_margin-left_60px
                +text('Номера, которые мы для вас подобрали', 'h1', 'text_h1')
                .search-room-page__rooms-row.search-room-page__rooms-row_margin-top_21px
                    +choose-room({'img':'choose-room__img888-lux', 'rate': 5, 'number': '888', 'isLux': true}, 145, '9 990₽ ')
                    +choose-room({'img':'choose-room__img840', 'rate': 4, 'number': '840', 'roomClasses': 'choose-room_margin-left_12px'}, 65, '9 900₽ ')
                    +choose-room({'img':'choose-room__img980-lux', 'rate': 3, 'number': '980', 'roomClasses': 'choose-room_margin-left_12px', 'isLux': true}, 35, '8 500₽ ')
                .search-room-page__rooms-row.search-room-page__rooms-row_margin-top_21px
                    +choose-room({'img':'choose-room__img856', 'rate': 5, 'number': '856'}, 19, '7 300₽ ')
                    +choose-room({'img':'choose-room__img740', 'rate': 4, 'number': '740', 'roomClasses': 'choose-room_margin-left_12px'}, 44, '6 000₽ ')
                    +choose-room({'img':'choose-room__img982', 'rate': 3, 'number': '982', 'roomClasses': 'choose-room_margin-left_12px'}, 56, '5 800₽ ')
                .search-room-page__rooms-row.search-room-page__rooms-row_margin-top_21px
                    +choose-room({'img':'choose-room__img678', 'rate': 5, 'number': '678'}, 45, '5 500₽ ')
                    +choose-room({'img':'choose-room__img450', 'rate': 4, 'number': '450', 'roomClasses': 'choose-room_margin-left_12px'}, 39, '5 300₽ ')
                    +choose-room({'img':'choose-room__img350', 'rate': 3, 'number': '350', 'roomClasses': 'choose-room_margin-left_12px'}, 77, '5 000₽ ')
                .search-room-page__rooms-row.search-room-page__rooms-row_margin-top_21px
                    +choose-room({'img':'choose-room__img666', 'rate': 5, 'number': '666'}, 25, '5 000₽ ')
                    +choose-room({'img':'choose-room__img444', 'rate': 3, 'number': '444', 'roomClasses': 'choose-room_margin-left_12px'}, 15, '5 000₽ ')
                    +choose-room({'img':'choose-room__img352', 'rate': 3, 'number': '352', 'roomClasses': 'choose-room_margin-left_12px'}, 55, '5 000₽ ')
                .search-room-page__rooms-row.search-room-page__rooms-row_margin-top_40px.search-room-page__rooms-row_justify-content_center
                    +pagination(1)
        .search-room-page__line
        include ../../blocks/footer1/footer1.pug