.room-details-page__content {
  margin: 70 / 1440 * 100% 140 / 1440 * 100%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 900px) {
  .room-details-page__content {
    flex-direction: column;
    align-items: center;
  }
}