.input {
  display: flex;
  background: #fff;
  width: 100%;
  margin-bottom: 0;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;

  &:hover,
  &:focus {
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-radius: 4px;
  }

  &_width_320px {
    width: 100%;
  }

  &_width_266px {
    width: 266px;
  }

  &_width_260px {
    width: 260px;
  }

  &_width_150px {
    width: 150px;
  }

  &_height_44px {
    height: 44px;
  }

  &__input {
    font-family: Montserrat, sans-serif;
    width: 100%;
    border: none;
    font-size: 1rem;
    line-height: 1.286rem;
    padding-left: 14px;
    color: rgba(31, 32, 65, 0.75);
    border: none;
    border-radius: 4px;

    &_arrow {
      border: none;
      &:hover,
      &:focus {
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &:hover,
    &:focus {
      font-size: 1rem;
      line-height: 1.714rem;
      color: rgba(31, 32, 65, 0.75);
      outline: none;
      border: none;
    }

    &::placeholder {
      color: rgba(31, 32, 65, 0.25);
    }
  }

  &__arrow-forward {
    border: none;
    border-radius: 0 4px 4px 0;
    background: white;
    width: 44px;
    padding: 0;
  }
}
/* stylelint-disable-next-line */
.material-icons.material-icons__arrow-forward.input__arrow-forward_color_blue {
  color: #8ba4f9;
}
