.input__text {
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.25);
    border: none;
    vertical-align: middle;
    &:hover, :focus {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
    }
}