.input__input {
    border: none;
    width: 100%;
    &:hover, &:focus {
        font-size: 1rem;
        line-height: 1.714rem;
        color: rgba(31, 32, 65, 0.75);
    }
    &::placeholder {
        font-size: 1rem;
        line-height: 1.286rem;
        color: rgba(31, 32, 65, 0.25);
    }
}