mixin input
    form.input.input__form(action="post") 
        input.input__text(type="email", value="Email")
        button.input__submit
            img(src="assets/img/arrow_forward.svg", alt="Submit")