mixin advantage(iconText, iconClasses, title, description, isLast)
    .advantage 
        .material-icons(class='' + iconClasses)=iconText 
        .advantage__text 
            p.advantage__title=title
            p.advantage__description=description
    if (!isLast)
        .advantage__line