mixin advantage(advantage)
    .advantage 
        .material-icons(class='' + advantage.iconClasses)=advantage.iconText 
        .advantage__text(class="" + advantage.titleClasses) 
            p.advantage__title=advantage.title
            p.advantage__description=advantage.description
    if (!advantage.isLast)
        .advantage__line