.material-icons {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.714rem;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';

  &__arrow-back {
    font-size: 1.714rem;
    line-height: 1.714rem;
    width: 40px;
    color: rgba(188, 156, 255, 100%);
    margin-left: auto;
  }

  &__arrow-forward {
    font-size: 1.714rem;
    line-height: 1.714rem;
    width: 44px;
    color: white;
    margin-left: auto;

    &_color_blue {
      color: rgba(188, 156, 255, 100%);
    }
  }

  &__expand-more {
    width: 44px;
    text-align: center;
    color: rgba(31, 32, 65, 50%);

    &_width_24px {
      width: 24px;
    }
  }
}

.material-icons.material-icons {
  &__whatshot {
    font-size: 3.429rem;
    line-height: 2.929rem;
    color: #8ba4f9;
    width: 48px;
  }

  &__star {
    font-size: 1.714rem;
    line-height: 1.429rem;
    color: #bc9cff;
  }

  &__star-border {
    font-size: 1.714rem;
    line-height: 1.429rem;
    color: #bc9cff;
  }

  &__location-city {
    font-size: 3.429rem;
    line-height: 2.929rem;
    color: #8ba4f9;
    width: 48px;
  }

  &__insert-emoticon {
    font-size: 3.429rem;
    line-height: 2.929rem;
    color: #8ba4f9;
    width: 48px;
  }

  &__favorite {
    color: #bc9cff;
    font-size: 0.714rem;
    line-height: 0.643rem;
  }

  &__favorite-border {
    font-size: 0.714rem;
    line-height: 0.643rem;
    color: #1f204140;
  }
}
