.cards
    img.cards__logo(src='assets/img/logo.svg' alt='toxin')
    .cards__wrapper
        .cards__column
            +find-room('', 'date-dropdown-ui-kit-cards1')
            .cards_margin-top_40px 
            +sign-up
        .cards__column.cards_margin-left_40px
            +room('date-dropdown-ui-kit-cards2', 'ui-kit-room-guest')
            .cards_margin-top_40px
            +sign-in
        .cards__column.cards_margin-left_40px
            div(id='static-date')
            .cards_margin-top_40px
            .cards__choose-room
                +choose-room({'img':'choose-room__img888-lux', 'rate': 5, 'isLux': true}, 145, '9 990₽')
            .cards_margin-top_40px 
            .cards__choose-room
                +choose-room({'img':'choose-room__img840', 'rate': 4}, 65, '9 900₽')