mixin review(reviewText, personName, personInfo) 
    .review
        .review__person
            .review__person-avatar 
            .review__person-about 
                p.review__person-name=personName 
                p.review__person-info=personInfo
        .review__review 
            +like-button('material-icons__favorite', 'like-button__button like-button__button_active', 'like-button__number like-button__number_active', 12, 'favorite')
            p.review__text=reviewText