@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat-Bold.woff) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat-Bold.svg) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat-Regular.svg) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat-Regular.woff) format('truetype');
}