@font-face {
    font-family: 'Montserrat';
    src:url('Montserrat-Bold.ttf') format('truetype'),
        url('Montserrat-Bold.woff') format('woff'),
        url('Montserrat-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src:url('Montserrat-Regular.ttf') format('truetype'),
        url('Montserrat-Regular.woff') format('woff'),
        url('Montserrat-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src:url('Quicksand-Bold.ttf') format('truetype'),
        url('Quicksand-Bold.woff') format('woff'),
        url('Quicksand-Bold.svg') format('svg');
}

@font-face {
    font-family: 'Quicksand';
    src:url('Quicksand-Regular.ttf') format('truetype'),
        url('Quicksand-Regular.woff') format('woff'),
        url('Quicksand-Regular.svg') format('svg');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url('MaterialIcons-Regular.svg') format('woff2'),
      url('MaterialIcons-Regular.woff') format('woff'),
      url('MaterialIcons-Regular.ttf') format('truetype');
}