mixin choose-room(room = { 'roomClasses': '', 'img': '', 'isLux': false, 'rate': 5 }, reviewNumber = 0, price = '5000')
  .choose-room(class="" + room.roomClasses)
    .js-choose-room__img.choose-room__img(class="" + room.img)
        .js-choose-room__img-expand.choose-room__img-expand.choose-room__img-expand_display_none
          .choose-room__expand-left.material-icons.material-icons__expand-more expand_more
        .js-choose-room__img-expand.choose-room__img-expand.choose-room__img-expand_transform_matrix.choose-room__img-expand_display_none
          .choose-room__expand-right.material-icons.material-icons__expand-more expand_more
        .choose-room__dots.choose-room__dots_display_none
          .js-choose-room__dot.choose-room__dot.choose-room__dot_background_white(data-class=room.img)
          .js-choose-room__dot.choose-room__dot(data-class="choose-room__img856")
          .js-choose-room__dot.choose-room__dot(data-class="choose-room__img840")
          .js-choose-room__dot.choose-room__dot(data-class="choose-room__img740")
    .choose-room__information
      .choose-room__row.choose-room__row_margin-top_20px
        p.choose-room__sign-number № 
            span.choose-room__number=room.number
        if (room.isLux)
            .choose-room__lux
                +text('люкс', 'h3', 'text_h3 text_color_blue')
        p.choose-room__money=price 
            span.choose-room__in-day в сутки
      .choose-room__row.choose-room__row_margin-top_10px
        .choose-room__line
      .choose-room__row.choose-room__row_margin-top_8px
        +rate-button(room.rate)
        p.choose-room__review-number=reviewNumber
          span.choose-room__review  Отзывов