mixin filter-date-dropdown(dateId = '', value = '')
    form.filter-date-dropdown
        label.filter-date-dropdown__label
            input.filter-date-dropdown__input(id=dateId type="text" value=value)
            .material-icons.material-icons__expand-more expand_more