mixin dropdown(hasSubmit, items) 
    .iqdropdown
        .iqdropdown-selection
            p.dropdown__text 2 спальни, 2 кровати...
            .material-icons.material-icons__expand-more expand_more
        .iqdropdown-menu 
            each item in items
                .iqdropdown-menu-option(id=item.id)
                    p.iqdropdown-item=item.name
