.iqdropdown {
    width: 266px;

    .iqdropdown-selection {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
    }

    .iqdropdown-menu-option {
        justify-content: space-between;
        height: auto;
    }

    .iqdropdown-item-controls {
        align-items: center;
        
        .counter {
            border: none;
        }

        button.button-increment {
            width: 30px;
            height: 30px;
            padding: 0;
            border-radius: 50%;
        }

        button.button-decrement {
            width: 30px;
            height: 30px;
            padding: 0;
            border-radius: 50%;
        }
    }
}