.iqdropdown {
    background-color: white;
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-radius: 2px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 0px;

    .iqdropdown-menu {
        height: auto;
        border: 1px solid rgba(31, 32, 65, 0.5);
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        box-shadow: none;

        .dropdown__buttons_margin-left_14px {
            margin-left: 14px;
        }

        .dropdown__buttons_margin-right_7px {
            margin-right: 7px;
        }
    }

    .iqdropdown-selection {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        text-transform: none;
        color: rgba(31, 32, 65, 0.75);
        padding-left: 15px;

        &::after {
            height: 0px;
        }
    }

    .dropdown__text {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1F2041;
    }

    .icon-decrement {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        color: rgba(31, 32, 65, 0.5);
        &::after {
            height: 0;
        }
    }

    .icon-decrement.icon-increment {
        &::before {
            height: 0;
        }
    }

    .iqdropdown-menu-option {
        justify-content: space-between;
        height: auto;
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .iqdropdown-item-controls {
        align-items: center;
        margin-right: -8px;
        height: 30px;
        width: 92px;
        display: flex;
        justify-content: space-between;

        .counter {
            border: none;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            text-transform: uppercase;
            color: #1F2041;
            padding-left: 10px;
            padding-right: 10px;
        }

        button.button-increment {
            width: 30px;
            height: 30px;
            padding: 0;
            border-radius: 50%;
        }

        button.button-decrement {
            width: 30px;
            height: 30px;
            padding: 0;
            border-radius: 50%;

            .button-decrement_disabled {
                border: 1px solid rgba(31, 32, 65, 0.25);
            }
        }
    }
}