.iqdropdown.iqdropdown__checkbox-list {
    border: none;
    padding-left: 0;
    height: 15px;
    
    &_margin-top_49px {
        margin-top: 49px;
    }

    .iqdropdown-menu.checkbox-list_border_none {
        border: none;
    }
}

.iqdropdown.iqdropdown.iqdropdown__checkbox-list_margin-top_16px {
    margin-top: 16px;
}

.iqdropdown {
    .iqdropdown-selection.iqdropdown-selection__checkbox-list {
        height: 15px;
        padding-left: 0;
    }
    .iqdropdown-menu-option.iqdropdown-menu-option__checkbox-list {
        padding-left: 0;
    }
    .iqdropdown-selection p.checkbox-list__text {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 0.857rem;
        line-height: 1.071rem;
        text-transform: uppercase;
        color: #1F2041;
    }
    .iqdropdown-item-controls.checkbox-list__controls {
        display: none;
    }
}
