mixin checkbox-list(buttons, text, menuOpen)
    .iqdropdown.iqdropdown__checkbox-list(class='' + menuOpen)
        .iqdropdown-selection.iqdropdown-selection__checkbox-list
            p.checkbox-list__text=text
            .material-icons.material-icons__expand-more expand_more
        .iqdropdown-menu.checkbox-list_border_none
            each button in buttons
                .iqdropdown-menu-option.iqdropdown-menu-option__checkbox-list
                    +chose-button(button, 'checkbox')