.iqdropdown.iqdropdown__checkbox-list {
    border: none;
    padding-left: 0;

    .iqdropdown-menu.checkbox-list_border_none {
        border: none;
    }
}

.iqdropdown .iqdropdown-selection p.checkbox-list__text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
}