/* stylelint-disable scss/at-mixin-pattern */
@mixin color__example($background) {
  background: $background;
  border-radius: 6px;
  width: 70px;
  height: 70px;
}
/* stylelint-enable scss/at-mixin-pattern */

.color {
  display: flex;

  &__text {
    font-weight: bold;
    font-size: 1.357rem;
    line-height: 2rem;
  }

  &__example {
    border-radius: 6px;
    width: 70px;
    height: 70px;

    &_background_purple {
      background: #bc9cff;
    }

    &_background_green {
      background: #6fcf97;
    }

    &_background_dark-shade-5 {
      background: #1f20410d;
    }

    &_background_dark-shade-25 {
      background: #1f204140;
    }

    &_background_dark-shade-50 {
      background: #1f204180;
    }

    &_background_dark-shade-75 {
      background: #1f2041bf;
    }

    &_background_dark-shade-100 {
      background: #1f2041;
    }
  }

  &__description {
    font-size: 1.357rem;
    line-height: 2rem;
    padding-left: 40px;
    align-self: center;
    color: #1f2041;
  }

  &__body {
    padding-bottom: 20px;
  }
}
