mixin color(textColor= 'white', hexColor= '#000000', background= 'color__example_background_green')
  .color.color__body
    .color__example(class=background)
    .color__description
      .color__text=textColor 
      div=hexColor