.contacts 
    img.contacts__twitter(src="assets/img/twitter.svg", alt="twitter")
    img.contacts__facebook(src="assets/img/facebook.svg", alt="facebook")
    img.contacts__instagram(src="assets/img/instagram.svg", alt="instagram")