mixin contacts(classes = '')
    div(class="" + classes)
        img.contacts__img(src="assets/img/twitter.svg", alt="twitter")
        img.contacts__img(src="assets/img/facebook.svg", alt="facebook")
        img.contacts__img(src="assets/img/instagram.svg", alt="instagram")