.noUi-handle {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    box-shadow: none;
    left: 20px;
    &::before, &::after {
        display: none;
    }
}

.noUi-horizontal .noUi-handle {
    width: 12px;
    height: 12px;
    top: -4px;
}