.range-slider {
    
}

.noUi-connect {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.noUi-handle {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    box-shadow: none;
    left: 20px;
    &::before, &::after {
        display: none;
    }
}

.noUi-horizontal .noUi-handle {
    width: 12px;
    height: 12px;
    top: -4px;
}

.noUi-target {
    background: white;
    border: 1px solid rgba(31, 32, 65, 0.25);;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: none;
    height: 6px;
    color: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}