mixin range-slider(title, sliderClasses)
    .range-slider(class = "" + sliderClasses)
        .range-slider__head
            .range-slider__title=title
            .range-slider__range
        .range-slider__slider(id='range-slider1')