.registration-page {
  font-family: Montserrat, sans-serif;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;

  &__background-img {
    background-image: url('./img/registration-page__background-img.png');
    width: 100%;
    height: 684px;
    display: flex;
    align-items: center;
  }

  &__sign-up {
    width: 380 / 1440 * 100%;
    min-width: 250px;
    margin-left: 533 / 1440 * 100%;
  }
}
