.text_h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.714rem;
    line-height: 2.072rem;
    color: #1F2041;
    margin-top: 0px;
    margin-bottom: 0px;
}