mixin rich-checkbox-button(buttons = [], buttonClasses = '')
  .rich-checkbox-button(class="" + buttonClasses)
    each button in buttons
        +choose-button(button, 'checkbox')
        .rich-checkbox-button__description(class="" + button.descriptionClasses)=button.description