mixin rich-checkbox-button(buttons)
    .rich-checkbox-button
        each button in buttons
            +choose-button(button, 'checkbox')
            .rich-checkbox-button__description=button.description