.toggle__form {
  height: 20px;
  width: 40px;
  background: #fff;
  box-sizing: border-box;
  padding: 3px;
  border-radius: 10px;
  transition: 0.4s;
  cursor: pointer;
  border: 1px solid rgba(31, 32, 65, 0.25);
  margin-bottom: 0;
}