doctype html 
html(lang="en")
    head 
        title= 'UI-KIT'
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet") 
    body
        block content
        block scripts