.room__i {
    font-weight: bold;
    font-size: 0.857rem;
    line-height: 0.583rem;
    color: rgba(31, 32, 65, 0.25);
    position: absolute;
    left: 50%;
    //bottom: 50%;
    transform: translateX(-50%);
}