.room__i {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: rgba(31, 32, 65, 0.25);
    position: absolute;
    left: 50%;
    //bottom: 50%;
    transform: translateX(-50%);
}