.menu__link { 
  color: rgba(31, 32, 65, 0.5);   
  font-size: 1rem;
  line-height: 1.214rem;
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Montserrat', sans-serif;
  box-sizing: content-box;
}