.choose-button {
  display: flex;
  align-items: center;

  &_margin-top_10px {
    margin-top: 10px;
  }

  &_margin-left_20px {
    margin-left: 20px;
  }

  &_flex-direction_column {
    flex-direction: column;
  }

  &__label {
    font-size: 1rem;
    line-height: 1.286rem;
    color: rgba(31, 32, 65, 50%);
    font-weight: normal;
    cursor: default;
    vertical-align: middle;

    &_width_192px {
      width: 192px;
    }

    &_line-height_24px {
      line-height: 1.714rem;
    }

    &_line-height_18px {
      line-height: 1.286rem;
    }

    &_bold {
      font-weight: bold;
      color: rgba(31, 32, 65, 75%);
    }
  }

  &__fake-radio {
    position: relative;
    border-radius: 50%;

    .choose-button__button:checked + &::before {
      content: '';
      color: #000;
      display: inline-block;
      position: absolute;
      text-align: center;
      text-indent: 0;
      width: 12px;
      height: 12px;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      box-sizing: border-box;
      border-radius: 50%;
      top: 3px;
      left: 3px;
    }
  }

  &__fake-checkbox {
    border-radius: 4px;
    align-self: flex-start;
    position: relative;

    .choose-button__button:checked + &::before {
      content: '';
      display: inline-block;
      position: absolute;
      width: 6px;
      height: 2px;
      left: 3px;
      bottom: 8px;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      transform: rotate(45deg);
    }

    .choose-button__button:checked + &::after {
      content: '';
      display: inline-block;
      position: absolute;
      width: 2px;
      height: 8px;
      left: 10px;
      bottom: 7px;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      transform: rotate(45deg);
    }
  }

  &__fake-button {
    color: #000;
    display: inline-block;
    margin-right: 9.74px;
    text-align: center;
    text-indent: 0;
    min-width: 20px;
    height: 20px;
    background: #FFF;
    border: 1px solid rgba(31, 32, 65, 25%);
    box-sizing: border-box;
    vertical-align: middle;

    .choose-button__button:checked + & {
      border: 1px solid #BC9CFF;
    }
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__button {
    display: none;
  }
}