.choose-button__fake-checkbox {
  border-radius: 4px;
  align-self: flex-start;
  position: relative;
  .choose-button__button:checked + &::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 6px;
    height: 2px;
    left: 3px;
    bottom: 8px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    transform: rotate(45deg);
  }
  .choose-button__button:checked + &::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 2px;
    height: 8px;
    left: 10px;
    bottom: 7px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    transform: rotate(45deg);
  }
}