header.header.header__body 
    .logo.logo__body
        img.logo__img(src="assets/img/logo__img.svg", alt="Toxin")
        img.logo__text(src="assets/img/logo__text.svg", alt="Toxin")
    .menu
        ul.menu__list 
            li.menu__item О нас
            li.menu__item Услуги
            li.menu__item Вакансии
            li.menu__item Новости
            li.menu__item Соглашения
