mixin header(hasUser, userName)
    header.header
        +logo('logo__body')
        .menu
            ul.menu__list 
                li.menu__item
                    a.menu__link.menu__link_bold О нас
                li.menu__item 
                    a.menu__link Услуги
                    include ../expand-more/expand-more.pug
                li.menu__item 
                    a.menu__link Вакансии
                li.menu__item 
                    a.menu__link Новости
                li.menu__item 
                    a.menu__link Соглашения
                    include ../expand-more/expand-more.pug
                if (hasUser)
                    li.menu__item.menu__line
                    li.menu__item.menu__user
                        a.menu__link= userName
                else
                    li.menu__item
                        +button('Войти', 'button_color_blue button_background-color_white button_border_blue button_width_small button_height_small')
                    li.menu__item
                        +button('Зарегистрироваться', 'button_color_white button_background-color_blue button_border_none button_width_medium button_height_small')





