.date-dropdown__input {
    border: none;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.714rem;
    color: rgba(31, 32, 65, 0.75);
    padding-left: 15px;
}