mixin date-dropdown(dateId, value, labelClasses, inputClasses)
    form.date-dropdown
        label.date-dropdown__label(class="" + labelClasses)
            input.date-dropdown__input(class="" + inputClasses id=dateId type="text" value=value)
            .material-icons.material-icons__expand-more expand_more  