.date-dropdown__label {
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
    display: flex;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    align-items: center;
    justify-content: space-between;
}