mixin bullet-list(bullets = [{ 'classes': '', 'bulletClasses': '', 'textClasses': 'text_p', 'text': 'выбор за тобой'}], classes = '')
    .bullet-list(class='' + classes)
        each bullet in bullets
            +bullet(bullet)